<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="styles.css">

  <title>Hello app</title>
</head>

<body>

  <div id="app" class="row m-0">

    <history-of-recepies :recepies="history"></history-of-recepies>


    <div v-if="showRecipe" class="col-6">
      <p>test</p>
    </div>

  </div>


  <script type="text/x-template" id="recipe-history-template">
    <div class="col-6 row">
      <h1 class="col-12">Recipes Made</h1>
      <div v-for="recipe in recepies" class="col-12 row">
      <one-recepi :title="recipe.recipeTitle" :id="recipe.recipeId"></one-recepi>
     </div>
    </div>
  </script>

  <script type="text/x-template" id="one-recipe-in-history-template">
    <div class="col-12 row">
    <!-- <p v-for="info in recipe"> {{info}}</p> -->
    <p class="col-8">{{title}}</p>
    <button class="col-4 float-right" @click="getRecipeId(id)">Make This Recipe</button>
  </div>
  </script>

  <script src="bundle.js"></script>
</body>

</html>