$fontColor: #0091aa;
$colorHeading: #be4a14;
#content  // div with id: content
{
    color: $fontColor;
}

h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}

.row{
    margin-left: 0 !important;
}

.shoppingList :hover {
    cursor: pointer;
    box-shadow: 10px 10px 8px #888888;
    margin: 10px;
}

.trump{
    border: 5px solid #000;
    border-radius: 30px;
}