$fontColor: #0091aa;
$colorHeading: #be4a14;
#content  // div with id: content
{
    color: $fontColor;
}

h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}

.row{
    margin-left: 0 !important;
}

.shoppingList :hover {
    cursor: pointer;
}

.trump{
    border: 1px solid #000;
}